services:
  web:
    build: 
      context: .
      dockerfile: web.Dockerfile
    ports:
      - "8080:8080"
    restart: unless-stopped
    volumes:
      - .:/app  # Mount current directory to /app in the container
  git-server:
    build:
      context: .
      dockerfile: gitserver.Dockerfile
    restart: always
    ports:
      - "3000:3000"  # Expose port 3000 for accessing the Git server
    volumes:
      - ./repos:/var/www/git  # Persist repositories data in the `./repos` directory
    # environment:
    #   GIT_SERVER_USER: "elizabeth"  # Optional: set default user for Git
    #   GIT_SERVER_USER_PASSWORD: "password"  # Optional: set password for Git user


  sonarqube:
    image: sonarqube:latest
    container_name: sonarqube
    depends_on:
      - db
    ports:
      - "9000:9000"   # Web UI
      - "9092:9092"   # Internal communication
    environment:
      SONAR_JDBC_URL: jdbc:postgresql://db:5432/sonarqube
      SONAR_JDBC_USERNAME: admin
      SONAR_JDBC_PASSWORD: 2302034@SIT.singaporetech.edu.sg
    volumes:
      - sonarqube_data:/opt/sonarqube/data
      - sonarqube_extensions:/opt/sonarqube/extensions
      - sonarqube_logs:/opt/sonarqube/logs


  db:
    image: postgres:latest
    container_name: sonarqube_db
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: 2302034@SIT.singaporetech.edu.sg
      POSTGRES_DB: sonarqube
    volumes:
      - postgresql:/var/lib/postgresql

volumes:
  sonarqube_data:
  sonarqube_extensions:
  sonarqube_logs:
  postgresql:
